
h1{
    text-align: center;
    height: 70px;
    justify-content: space-around;
    font-family: 'Anton', sans-serif;
    
    
}
.pestaña1{
    @include flex(culumn,wrap,center,center);
    color: black; 
    font-weight: 600;
    padding-right: 60px;
    height: 30px;
    font: 150% sans-serif;
} 
.bmw{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    @include flex(culumn,wrap,center,center);    
    background-color: rgb(56, 56, 121); 
    $color-text-principal:rgba(177, 49, 49, 0.692);
}
.h2mbw{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Lobster', cursive;
}
