body{
    font-family: sans-serif;
    margin: 0;
    background-color: bisque;
}
header{
    background-color:rgb(56, 56, 121);
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    h2{
        font: 150% sans-serif;
    }
    
    }
   

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 120px;
    margin-right: 10px;
}




.slide{
    margin-top: 100px;

}
.slide img{
    height: 60vh;
}
p{
    padding: 100px 0px;
    margin:100px 0px;
}
.presentacion{
color: rgb(78, 28, 194);
}
.pestaña{
    text-decoration: none;
    color: black; 
    font-weight: 600;
    padding-right: 10px;
    height: 30px;
    font: 150% sans-serif;
    
}
li a{
    text-decoration: none;
    color: rgb(15, 15, 15);
   
}
footer{
    background-color: $background-principal;
    @include flex(culumn,wrap,center,center)
    
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    
}
.logosfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        font-family: fantasy;
        color: black;
    }
    
    
    img{
        height: 60px;
        display: flex;
    align-items: center;
    padding: 10px;
    

    }
    
}
.presentacion{
    font:small-caps 100%/200% serif;
}