body{
    font-family: sans-serif;
    margin: 0;
    background-color: bisque;
}
header{
    @include flex(culumn,wrap,center,center);
    .section-1{
        background-color:rgb(56, 56, 121);
        display: flex;
        min-height: 70px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .section-2{
        @extend .section-1;
        padding: 10px;
        
    }

    @include flex(culumn,wrap,center,center);
    background-color:rgb(56, 56, 121);
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
 }
    h1{
        text-align: center;
        color: rgb(47, 0, 255);
    
    
    
    .index{
        
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-family: 'Bebas Neue', sans-serif;
        
}
    }
    
    .audi{
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-family: 'Bebas Neue', sans-serif;
    }
    .bmw{
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-family: 'Bebas Neue', sans-serif;
    }
    .nosotros{
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-family: 'Bebas Neue', sans-serif;
    }

    
    ul{
        text-decoration: none;
        display: flex;
        min-height: 70px;
        justify-content: space-between;
        align-items: center;    
        }
   

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 120px;
    margin-right: 10px;
}




.slide{
    margin-top: 100px;

}
.slide img{
    height: 60vh;
}
p{
    padding: 100px 0px;
    margin:100px 0px;
}
.presentacion{
    color: rgb(78, 28, 194);
    text-align: center;
}
.pestaña{
    text-decoration: none;
    
    font-weight: 600;
    padding-right: 60px;
    height: 30px;
    font: 150% sans-serif;
    
}

 li a {
    text-decoration: none;
    color: black;
    
}

footer{
    background-color: $background-principal;
    @include flex(culumn,wrap,center,center)
    
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
    }
    footer div{
        flex-direction: column;
        
        
    }
    h1{
        flex-direction: column;
    }

    
}
.logosfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        font-family: fantasy;
        color: black;
    }
    
    
    img{
        height: 60px;
        display: flex;
    align-items: center;
    padding: 10px;
    

    }
    
}
.presentacion{
    font:small-caps 100%/200% serif;
    text-align: center;
}