@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  color: #383879; }

body {
  font-family: sans-serif;
  margin: 0;
  background-color: bisque; }

header {
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #383879;
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }
  header .section-1, header .section-2 {
    background-color: #383879;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
  header .section-2 {
    padding: 10px; }

h1 {
  text-align: center;
  color: aqua; }
  h1 .index {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif; }

.audi {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Bebas Neue', sans-serif; }

.bmw {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Bebas Neue', sans-serif; }

.nosotros {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-family: 'Bebas Neue', sans-serif; }

ul {
  text-decoration: none;
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex;
  align-items: center; }

.logo img {
  height: 120px;
  margin-right: 10px; }

.slide {
  margin-top: 100px; }

.slide img {
  height: 60vh; }

p {
  padding: 100px 0px;
  margin: 100px 0px; }

.presentacion {
  color: #4e1cc2; }

.pestaña {
  text-decoration: none;
  font-weight: 600;
  padding-right: 60px;
  height: 30px;
  font: 150% sans-serif; }

li a {
  text-decoration: none;
  color: black; }

footer {
  background-color: #383879;
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

@media (max-width: 700px) {
  header {
    flex-direction: column; }
  ul {
    flex-direction: column; }
  footer div {
    flex-direction: column; }
  h1 {
    flex-direction: column; } }

.logosfo {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .logosfo p {
    font-family: fantasy;
    color: black; }
  .logosfo img {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px; }

.presentacion {
  font: small-caps 100%/200% serif;
  text-align: center; }
  
h1 {
  text-align: center;
  height: 70px;
  justify-content: space-around;
  font-family: 'Anton', sans-serif; }

.pestaña1 {
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  padding-right: 60px;
  height: 30px;
  font: 150% sans-serif; }

.mug {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #383879; }

h1 {
  text-align: center;
  height: 70px;
  justify-content: space-around;
  font-family: 'Anton', sans-serif; }

.pestaña1 {
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  padding-right: 60px;
  height: 30px;
  font: 150% sans-serif; }

.bmw {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #383879; }
  
h2{
  text-align: center;
  padding: 120px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Anton', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Lobster', cursive;
}

h1 {
  text-align: center;
  height: 70px;
  justify-content: space-around;
  font-family: 'Anton', sans-serif; }

.pestaña1 {
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  padding-right: 60px;
  height: 30px;
  font: 150% sans-serif; }

.audii {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: culumn;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #383879; }
